.signin {

    background: black;
    padding: 0.625rem 1rem;
    border-radius: 0.25rem;
    margin-left: auto;
    color: whitesmoke;
    transition: opacity 300ms ease-in-out;
}

.signin:hover {
   opacity: 0.8;
}