<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8" />
    <title>Roman Potachenski Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>

  <body>
    <header class="container">
      <nav class="menu">
        <ul>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Gallery</a>
            <div class="dropdown-content">
              <a href="weddings.html">Weddings</a>
              <a href="family.html">Family</a>
              <a href="editorials.html">Editorial</a>
              <a href="events.html">Events</a>
            </div>
          </li>
          <li class="menu_2"><a href="#">Proofing Gallery</a></li>
          <li class="rp_logo">
            <a href="index.html"
              ><img
                src="images/rp-logo-2.svg"
                alt="Roman Potachenski Photography - portfolio logo rp"
                width="50"
            /></a>
          </li>
          <li class="menu_4"><a href="#">Blog</a></li>
          <li class="menu_5"><a href="about me.html">About</a></li>
          <li class="menu_6"><a href="getintouch.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main class="rp_page">
      <div
        class="slider"
        class="w3-content w3-section"
        style="max-width: 700px"
      >
        <img
          class="mySlides"
          src="images/11902_index_web.jpg"
          alt="wedding_gallery_roman potachenski"
          style="width: 100%"
        />
        <img
          class="mySlides"
          src="images/park32_index_web.jpg"
          alt="wedding_gallery_roman"
          style="width: 100%"
        />
        <img
          class="mySlides"
          src="images/18048_index_web.jpg"
          alt="wedding_gallery_roman"
          style="width: 100%"
        />
      </div>
    </main>

    <div class="social_media">
      <div class="rompo80">
        <a href="https://www.instagram.com/rompo80/?hl=fr-ca"
          ><img
            src="images/insta-logo-2.svg"
            alt="roman potachenski - instagram link"
            width="40"
        /></a>
      </div>

      <div class="romanworld">
        <a href="mailto:roman.potachenski@gmail.com"
          ><img
            src="images/gmail-logo-2.svg"
            alt="roman potachens>ki - gmail"
            width="40"
        /></a>
      </div>
    </div>

    <div class="rp_info">
      <p>
        All rights reserved &copy;roman potachenski photography
        &#8226;montreal|toronto&#8226; roman.potachenksi@gmail.com|514-573-3527
      </p>
    </div>

    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.querySelectorAll(".mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
          myIndex = 1;
        }

        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 7000); // Change image every 7 seconds
      }
    </script>
  </body>
</html>
