.flex {
    margin-top: 25px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    row-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.img_frame {
    position: relative;
    padding-top: 15px;
    width: auto;
    height: 300px;
}

.img_frame > span {
    padding-bottom: 5px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    cursor: pointer;
   
}

.img_frame>button>img,
.img_frame > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_frame button {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: -1rem;
    right: 0.5rem;
    background: whitesmoke;
    border: none;
    border-radius: 0.25rem;
    filter: opacity(60%);
    padding: 0.25rem;
    cursor: pointer;
}


@media (max-width: 415px) {
    .img_frame {
        width: 100%;
        height: auto;
    }
    .img_frame > span {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}