.container {
    display: flex;
    flex-wrap:wrap-reverse;
    gap: 1rem;
    width: 100vw;
    max-width: 1100px;
    justify-content: center;
    align-self: center;
    padding: 1rem;
    margin-bottom: 1rem;
}


.container > h2 {
    width: 100%;
    text-align: center;
    order: 1;
}


.form {
    flex-basis: 400px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.err_box,
.label {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.err_box {
    gap: 0.125rem;
}


.form textarea {
   outline: none;
   width: 100%;
   border-radius: 0.25rem;
   border-style: none;
   border: 1px solid var(--border-color_form);
   padding: 1rem;
   font-size: large;
   font-family: inherit;
}

.form > button {
    background-color: transparent;
    border-radius: 0.25rem;
    /* border: 1px solid #ff921e; */
    border: 1px solid #555555;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    /* background-clip: padding-box; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #555555;
    cursor: pointer;
    
}


.form > button:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}

.isInvalid {
    border: 1px red solid !important;
}

.error {
    display: none;
}

.aside {
  flex-basis: 500px;
}



