
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');




:root {
  
  --bg-link_hover: rgb(235, 235, 235);
  --border-color: #ced4da;
  --border-color_form: #dddddd;
  --bg-blur: rgba(235, 235, 235, 0.7);


  --max-width: 1100px;
  --border-radius: 12px;
 

  --accent-color: #FF911E;


  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );



  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-family: 'Montserrat', sans-serif;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease-in-out,
}

main {
  align-self: center;
  width: 100%;
}




header a:hover:not(:has(>span)){
  color: var(--accent-color);
}


input {
   font-weight: 300;
}
  select,
  /* [type="submit"], */
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    outline: 0;
    border: 0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
  }
  
  input[type="submit"] {
    width: 100%;
    border: 0;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    background-color:transparent;
    border: 1px solid var(--border-color_form);
    color: inherit;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 0.75rem;
  }
  
  [type="submit"]:hover,
  input[type="submit"]:hover {
    background-color: var(--bg-btn_hover);
    color: black;
  }
  
  
  /*Bootstrap class button.btn.btn-primary*/
  input[type="submit"]:focus {
    outline: none;
    box-shadow: var(--border-focus_style);
  }
  
  input[type="password"]:focus,
  input[type="text"]:focus {
    outline: none;
    border-color: var(--border-focus_color);
    box-shadow: var(--border-focus_style);
  }



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


