/* .proof_section {
  display:flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 0;
  margin-top: 0;
} */

.header_container{
  width:100%;
  height: 30vh;
  position: relative;

}

.dashboard {
  display: grid;
  align-content: center;
  justify-content: center;
height: 10vh;
background-color: var(--bg-link_hover);
}

.dashboard > aside {
display: flex;
justify-content: space-between;
width: 65vw;
}


.text{
  font-size: larger;
  color: black;
}
.header_container > img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}


.header_container > aside {
  position: absolute;
  bottom: 1rem;
  width: 100vw;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  color: #f3f3f3;
  
}



.login_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}


.login_container h2{
    font-weight: 400;
}

.login_form{
 align-self: center;
 max-width: 100vw; 
 width: 350px; 
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.login_form button{
  padding: 0.5rem;
  font-size: inherit;
  font-weight: normal;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5rem;
}


.login-container input::placeholder {
  color: #4d4d4d;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid var(--accent-color); 
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}