.slider {
  width: clamp(385px, 50vw, 1000px);
  max-width: 500px;
  height: 100%;
  overflow: hidden;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.image{
  opacity: 0;
  filter: grayscale(100%);
  transition: opacity 5s ease-in-out;
  top: 0%;
  left: 0%;
}


.active {
  opacity: 1;
}

  






