.slider {
  width: clamp(385px, 50vw, 1000px);
  max-width: 400px;
  height: auto;
  position: relative;
  /* display: flex; */
  overflow: hidden;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.imageContainer {
  width: 100%;
  height: 70%;
  opacity: 0;
  filter: grayscale(100%);
  transition: opacity 5s ease-in-out;
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.active {
  opacity: 1;
}



  






